@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
    --themeC: #71FCAA;
    --bgGrey: #2D2E32;
    --fullDarkGrey: #191A1D;
    --DarkGrey: #25262A;
    --greyLight: #999999;
    --wt: #ffffff;
}

/* custom scrollbar */
/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--greyLight);
    transition: all 0.2s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--themeC);
}

/*  */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.flexc {
    display: flex;
    justify-content: center;
    align-items: center;
}

body,
html {
    background: url('./assets/bgpic.png'), var(--bgGrey) no-repeat;
    background-size: contain;
    color: var(--wt);
    margin: 0;
    padding: 0;
}

* {
    font-family: "Nunito", sans-serif !important;
}

a {
    text-decoration: none;
}

.contentCreater {
    backgroun
